* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #101010;
    --tertiary-color: #939393;
    --quartenary-color: #1AFCB0;
    
    /*ex: italic bold 16px Arial, sans-serif;*/
    --title-font: normal 600 4rem Arial, sans-serif;
    --subtitle-font: normal 600 2rem Arial, sans-serif;
    --default-font: normal 400 1rem Arial, sans-serif;
    
    --title-font-weight: 600;
    --subtitle-font: 600;
    --default-font-weight: 400;
    
    --icon-size: 0.7rem;
    --radius: 1rem;
}
body{
  background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5{
  color: var(--primary-color);
}
p{
  color: var(--tertiary-color);
}
a{
  color: var(--quartenary-color);
}

/*light theme*/
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #101010;
    --secondary-color: #ffffff;
    --tertiary-color: #767676;
    --quartenary-color: #009664;
  }
  body{
    background-color: var(--secondary-color);
  }
}


