* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*font: italic small-caps bold 1.2em/1.5 sans-serif;*/
/*default theme*/ 
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #101010;
    --tertiary-color: #E3E3E3;
    --quartenary-color: #1AFCB0;
    
    /*ex: italic bold 16px Arial, sans-serif;*/
    --title-font: normal 700 4rem "Pathway Extreme", sans-serif;
    --title-2-font: normal 700 2rem "Pathway Extreme", sans-serif;
    --subtitle-font: normal 400 1.2rem "Roboto", sans-serif;
    --default-font: normal 400 1rem "Roboto", sans-serif;
    
    --title-font-weight: 600;
    --subtitle-font: 600;
    --default-font-weight: 400;
    
    --icon-size: 0.7rem;
    --standard-spacing: 1rem;
}

h1, h2, h3, h4, h5 {color: var(--primary-color);}
h1{
  font: var(--title-font);
  overflow-wrap: break-word;
  line-height: 1;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
h2{
  font: var(--title-2-font);
  overflow-wrap: break-word;
  line-height: 1;
  font-optical-sizing: auto;
  font-variation-settings: "wdth";
}
span{
  color: var(--quartenary-color);
}
p {
  color: var(--tertiary-color);
  font: var(--default-font);
  line-height: 1.4;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
a {
  font: var(--default-font);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: var(--quartenary-color);
}
time{
  font: var(--default-font);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: var(--primary-color);
}



/*light theme*/
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #101010;
    --secondary-color: #ffffff;
    --tertiary-color: #767676;
    --quartenary-color: #009664;
  }
  body {background-color: var(--secondary-color);}
  h1, h2, h3, h4, h5 {color: var(--primary-color);}
  span{color: var(--quartenary-color);}
  p {color: var(--tertiary-color);}
  a {color: var(--quartenary-color);}
  time{color: var(--primary-color);}
}

/*page structure*/
body {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column; align-items: center;
}
main{
  width: 100%; max-width: 800px;
  display: flex; flex-direction: column;
}
section{
  margin: 0 var(--standard-spacing);
}
.container{
  display: flex;
  flex-direction: column;
}
.text{
  word-wrap: break-word;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}
.timeline{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item{
  width: 320px;
  display: flex;
  flex-direction: row;
}
.item h3{color: var(--quartenary-color);}
.cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--standard-spacing);
  margin: 1rem 0;
}
article{
  width: 320px;
  max-width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--tertiary-color);
  padding: var(--standard-spacing); border-radius: var(--standard-spacing);
}
figure{
  width: 100%;
  height: auto;
  border-radius: var(--standard-spacing);
  overflow: hidden;
  background-color: #E5B3B3;
}
figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card h3{color: var(--quartenary-color);}
.project-card p{color: var(--secondary-color);}
footer{
  width: 100%;
  max-width: 800px;
}