* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root { /*default theme*/
    --primary-color: #FFFFFF;
    --secondary-color: #101010;
    --tertiary-color: #E3E3E3;
    --quartenary-color: #7eff00;
    --transparent-color: transparent; 
    
    --gradient-background: #FFFFFF;
    --gradient-start: rgba(242, 255, 86, 0.8);
    --gradient-mid: rgba(126, 255, 0, 0.8);
    --gradient-end: rgba(0, 190, 86, 0.8);
    --corner-gradient: 47deg;
    
    /*ex: italic bold 16px Arial, sans-serif;*/
    --title-font: normal 700 4rem "Pathway Extreme", sans-serif;
    --title-2-font: normal 700 2rem "Pathway Extreme", sans-serif;
    --title-3-font: normal 700 1.5rem "Pathway Extreme", sans-serif;
    --subtitle-font: normal 400 1.2rem "Roboto", sans-serif;
    --default-font: normal 400 1rem "Roboto", sans-serif;
    
    --title-font-weight: 600;
    --subtitle-font: 600;
    --default-font-weight: 400;
    
    --icon-size: 0.7rem;
    --standard-spacing: 1.2rem;
}
::selection {background: var(--quartenary-color); color: var(--primary-color);}

h1{font: var(--title-font);line-height: 1;}
h2{font: var(--title-2-font); line-height: 1;}
h3{font: var(--title-3-font); line-height: 1;}
p {color: var(--tertiary-color); line-height: 1.4;}
time{color: var(--primary-color);}
/*repetition*/
h1, h2, h3, h4, h5 {
  color: var(--primary-color); overflow-wrap: break-word;
  font-optical-sizing: auto; font-variation-settings: "wdth" 100;
}
p, a, time {
  font: var(--default-font);
  font-optical-sizing: auto; font-variation-settings: "wdth" 100;
}
a, span {color: var(--quartenary-color);}

/*page structure*/
body {
  background-color: var(--secondary-color);
  display: flex; flex-direction: column; align-items: center;
  margin: 0; padding: 0;
}
header {
  display: flex; flex-direction: column;
  width: 100%; height: auto; max-width: 800px;
  position: relative; z-index: 1110; 
}
main{
  width: 100%; max-width: 800px;
  display: flex; flex-direction: column; gap: 2rem;
}
section{margin: 0 var(--standard-spacing);}
article{
  width: 320px;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: var(--gradient-background);
  background: linear-gradient(
    var(--corner-gradient, 125deg),
    var(--gradient-start, #F2FF56) 0%,
    var(--gradient-mid, #7eff00) 70%,
    var(--gradient-end, #000000) 100%
  ); 
  padding: var(--standard-spacing); border-radius: var(--standard-spacing);
  p, h3, a {
    color: var(--secondary-color);
  }
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 800px;
  
  #nav {
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul {
      gap: 1rem;
      li {
        width: 300px;
        max-width: 600px;
        border-bottom: 1px solid var(--quartenary-color);
        margin-bottom: 1rem;
        padding: 1rem;
      }
    }
  }
  
  .cookies {
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      width: 100%;
      max-width: 500px;
      padding: 2rem;
      text-align: center;
      a {
        color: var(--quartenary-color);
      }
    }
  }
  
  .link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    li a{
      color: var(--quartenary-color);
    }
  }
  
  #copyright {
    width: 100%;
    padding: 3rem;
    text-align: center;
    p {font-weight: bold;}
  }
}

#hero {
  
}
#about {
  display: flex; flex-direction: column;
  margin-bottom: 2rem; gap: var(--standard-spacing);
}
#training {
  display: flex; flex-direction: column;
  gap: var(--standard-spacing);
}
#projects {
  display: flex; flex-direction: column;
  gap: var(--standard-spacing);
}


/*components*/
#preloader-overlay {
  position: fixed; top: 0; left: 0; z-index: 99999;
  width: 100%; height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1; visibility: visible;
  transition: opacity 0.8s ease, visibility 0.9s ease;
}
#preloader-overlay.hidden {opacity: 0; visibility: hidden;}
.preloader-content {display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.preloader-title {font: var(--title-2-font); color: var(--quartenary-color); margin-bottom: 1rem;}
.loader-spinner {
  border: 4px solid var(--primary-color); 
  border-top: 4px solid var(--quartenary-color);
  border-radius: 50%; width: 25px; height: 25px;
  animation: spin 1s linear infinite;
}

.container {display: flex; flex-direction: column;}

.text {display: flex; flex-direction: column; gap: 0.4rem; word-wrap: break-word;}

.header-nav {
  display: flex; flex-direction: row; justify-content: space-between; align-items: center;
  padding: 1rem; width: 100%;
}

.timeline {
  display: flex; 
  flex-direction: column; 
  gap: 2rem;
}

figure {
  width: 100%; height: auto;
  border-radius: var(--standard-spacing);
  overflow: hidden;
}

figure img {display: block; width: 100%; height: 100%; object-fit: cover;}

.item {
  display: flex; 
  flex-direction: row; 
  width: 320px;
  
  h3 {
    color: var(--quartenary-color);
  }
}
/*
.item h3 {color: var(--quartenary-color);}
*/

#name a{
  font: var(--title-3-font);
}

.cards {
  display: flex; flex-direction: column; align-items: center;
  width: 100%; margin: 1rem 0; gap: var(--standard-spacing);
  z-index: 10;
  
  .project-card {
    h3 {color: var(--secondary-color);}
    p {color: var(--secondary-color);}
    span {color: var(--secondary-color)}
  }
}

.blur {
  background-color: var(--quartenary-color);
  height: 80px; width: 80px; z-index: 0;
  border-radius: 50%; filter: blur(70px);
} 
.blur:nth-child(2) {position: absolute; right: 0; top: 64%;}

/*
.scrolling-text-container {
  height: auto; 
  width: 100vw; max-width: 800px; 
  margin: 0; overflow: hidden; rotate: -2deg;
}
.scrolling-text-track {
    display: flex; white-space: nowrap; width: 100%; gap: 2rem;
    animation: scroll-left 8s linear infinite;
}
.scrolling-text-container:hover .scrolling-text-track {animation-play-state: paused;}
*/

.text-item {
    color: var(--quartenary-color); opacity: 0.4; filter: blur(2px);
    font: var(--title-font);
    font-size: 3rem; font-weight: 700; text-transform: uppercase; line-height: 1.5;
}

.toggle-menu {
  background-color: var(--transparent-color);
  border: none; outline: none; 
  cursor: pointer; pointer-events: initial;
  display: inline-block; position: relative;
  float: right; vertical-align: middle;
  height: 35px; width: 35px; padding: 0;
  z-index: 1110; 
}
.toggle-menu span {
  background-color: var(--primary-color);
  content: "";
  display: block; position: absolute; height: 2px; width: 26px;
  left: calc(50% - 13px ); top: calc(50% - 1px );
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
}
.toggle-menu span:before, .toggle-menu span:after {
  background-color: var(--primary-color);
  content: "";
  display: block; position: absolute; height: 2px; width: 26px;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
}
.toggle-menu span:before {top: 7px;}
.toggle-menu span:after {top: -7px;}
.toggle-menu.active span {background-color: transparent; transition: background 0.2s ease-out;}
.toggle-menu.active span:before, .toggle-menu.active span:after {transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;}
.toggle-menu.active span:before {top: 0; transform: rotate3d(0, 0, 1, -45deg);}
.toggle-menu.active span:after {top: 0; transform: rotate3d(0, 0, 1, 45deg);}

#menu { /*menu style*/
  background: var(--secondary-color); opacity: 0;
  color: var(--primary-color);
  height: 100%; width: 100%; left: 0; top: 0;
  overflow: hidden; visibility: hidden;
  position: fixed; text-align: center;
  transition: all 0.7s ease-in-out;
  z-index: 1100;
}
#menu.open {opacity: 1; visibility: visible;}
/*animation*/
#menu.open li {animation-duration: 1.0s; animation-fill-mode: both; animation-name: fadeInUp;}
#menu.open li:nth-child(1) {animation-delay: 0.1s;}
#menu.open li:nth-child(2) {animation-delay: 0.2s;}
#menu.open li:nth-child(3) {animation-delay: 0.3s;}
#menu.open li:nth-child(4) {animation-delay: 0.4s;}
#menu ul a {-webkit-transform: translateZ(0); transition: opacity 0.3s ease-in-out;}
#menu ul:hover a {opacity: 0.5;}
#menu ul a:hover {opacity: 1;}

.main-nav {position: relative; top: 50%; transform: translateY(-50%);}
.main-nav ul {list-style: none; margin: 0; padding: 0;}
.main-nav a {
  color: var(--primary-color);
  display: block; padding: 1rem 1rem;
  font-size: 1.5rem; font-weight: bold;
  text-decoration: none; text-transform: uppercase;
}
.main-nav a:first-child {padding-top: 0;}
.menu-footer {padding: 2rem; bottom: 0; left: 0; right: 0; position: absolute;}
.menu-footer ul {display: inline-block; margin: 0; padding: 0; list-style: none;}
.menu-footer ul li {display: inline; margin: 0 1rem;}
.menu-footer a {color: var(--primary-color); text-decoration: none; text-transform: uppercase;}

/*keyframes*/
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%); 
    }
}
@keyframes fadeInUp { /*key frames*/
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/*loader*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*formatting*/
/*
@media (prefers-color-scheme: light) { /*light theme*/
/*
  :root {
    --primary-color: #101010;
    --secondary-color: #ffffff;
    --tertiary-color: #767676;
    --quartenary-color: #7eff00;
  }
  
  body {background-color: var(--secondary-color);}
  h1, h2, h3, h4, h5 {color: var(--primary-color);}
  span{color: var(--quartenary-color);}
  p {color: var(--tertiary-color);}
  a {color: var(--quartenary-color);}
  time{color: var(--primary-color);}
}
*/