* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root { /*default theme*/
    --primary-color: #FFFFFF;
    --secondary-color: #101010;
    --tertiary-color: #E3E3E3;
    --quartenary-color: #1AFCB0;
    --transparent-color: transparent; 
    
    --gradient-background: #4a4a4a;
    --gradient-start: rgba(74, 74, 74, 1);
    --gradient-mid: rgba(0, 43, 21, 1);
    --gradient-end: rgba(0, 0, 0, 1);
    --corner-gradient: 47deg;
    
    /*ex: italic bold 16px Arial, sans-serif;*/
    --title-font: normal 700 4rem "Pathway Extreme", sans-serif;
    --title-2-font: normal 700 2rem "Pathway Extreme", sans-serif;
    --subtitle-font: normal 400 1.2rem "Roboto", sans-serif;
    --default-font: normal 400 1rem "Roboto", sans-serif;
    
    --title-font-weight: 600;
    --subtitle-font: 600;
    --default-font-weight: 400;
    
    --icon-size: 0.7rem;
    --standard-spacing: 1rem;
}
::selection {background: var(--quartenary-color); color: var(--primary-color);}

h1{font: var(--title-font);line-height: 1;}
h2{font: var(--title-2-font); line-height: 1;}
h3{font: var(--title-2-font);}
p {color: var(--tertiary-color); line-height: 1.4;}
time{color: var(--primary-color);}
/*repetition*/
h1, h2, h3, h4, h5 {
  color: var(--primary-color); overflow-wrap: break-word;
  font-optical-sizing: auto; font-variation-settings: "wdth" 100;
}
p, a, time {
  font: var(--default-font);
  font-optical-sizing: auto; font-variation-settings: "wdth" 100;
}
a, span {color: var(--quartenary-color);}

/*page structure*/
body {
  background-color: var(--secondary-color);
  display: flex; flex-direction: column; align-items: center;
  margin: 0; padding: 0;
}
#header {position: relative; z-index: 1110; }
nav{}
main{
  width: 100%; max-width: 800px;
  display: flex; flex-direction: column;
}
section{margin: 0 var(--standard-spacing);}
article{
  width: 320px;
  max-width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: var(--gradient-background);
  background: linear-gradient(
    var(--corner-gradient, 47deg),
    var(--gradient-start, #4a4a4a) 0%,
    var(--gradient-mid, #002b15) 50%,
    var(--gradient-end, #000000) 100%
  ); 
  padding: var(--standard-spacing); border-radius: var(--standard-spacing);
}
footer{width: 100%; max-width: 800px;}

/*components*/
.container{display: flex; flex-direction: column;}
.text{display: flex; flex-direction: column; gap: 0.4rem; word-wrap: break-word;}
.timeline{display: flex; flex-direction: column; gap: 2rem;}
figure{
  width: 100%; height: auto;
  border-radius: var(--standard-spacing);
  overflow: hidden;
}
figure img{display: block; width: 100%; height: 100%; object-fit: cover;}
.item{display: flex; flex-direction: row; width: 320px;}
.item h3{color: var(--quartenary-color);}
.cards{
  display: flex; flex-direction: column; align-items: center;
  width: 100%; margin: 1rem 0; gap: var(--standard-spacing);
  z-index: 10;
}
.project-card h3{color: var(--quartenary-color);}
.project-card p{color: var(--secondary-color);}
.blur {
  background-color: var(--quartenary-color);
  height: 80px; width: 80px; z-index: 0;
  border-radius: 50%; filter: blur(70px);
} .blur:nth-child(2) {position: absolute; right: 0; top: 64%;}
.scrolling-text-container {height: auto; width: 100vw; max-width: 800px; margin: 0; overflow: hidden; rotate: -2deg;}
.scrolling-text-track {
    display: flex; white-space: nowrap; width: 100%; gap: 2rem;
    animation: scroll-left 8s linear infinite;
}
.scrolling-text-container:hover .scrolling-text-track {animation-play-state: paused;}
.text-item {
    color: var(--quartenary-color); opacity: 0.4; filter: blur(2px);
    font: var(--title-font);
    font-size: 3rem; font-weight: 700; text-transform: uppercase; line-height: 1.5;
}

.toggle-menu {
  background-color: var(--transparent-color);
  border: none; outline: none; 
  cursor: pointer; pointer-events: initial;
  display: inline-block; position: relative;
  float: right; vertical-align: middle;
  height: 50px; width: 50px; padding: 0;
  z-index: 1110; 
}
.toggle-menu span {
  background-color: var(--primary-color);
  content: "";
  display: block; position: absolute; height: 2px; width: 26px;
  left: calc(50% - 13px ); top: calc(50% - 1px );
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
}
.toggle-menu span:before, .toggle-menu span:after {
  background-color: var(--primary-color);
  content: "";
  display: block; position: absolute; height: 2px; width: 26px;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
}
.toggle-menu span:before {top: 7px;}
.toggle-menu span:after {top: -7px;}
.toggle-menu.active span {background-color: transparent; transition: background 0.2s ease-out;}
.toggle-menu.active span:before, .toggle-menu.active span:after {transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;}
.toggle-menu.active span:before {top: 0; transform: rotate3d(0, 0, 1, -45deg);}
.toggle-menu.active span:after {top: 0; transform: rotate3d(0, 0, 1, 45deg);}

#menu { /*menu style*/
  background: var(--secondary-color); opacity: 0;
  color: var(--primary-color);
  height: 100%; width: 100%; left: 0; top: 0;
  overflow: hidden; visibility: hidden;
  position: fixed; text-align: center;
  transition: all 0.7s ease-in-out;
  z-index: 1100;
}
#menu.open {opacity: 1; visibility: visible;}
/*animation*/
#menu.open li {animation-duration: 1.0s; animation-fill-mode: both; animation-name: fadeInUp;}
#menu.open li:nth-child(1) {animation-delay: 0.1s;}
#menu.open li:nth-child(2) {animation-delay: 0.2s;}
#menu.open li:nth-child(3) {animation-delay: 0.3s;}
#menu.open li:nth-child(4) {animation-delay: 0.4s;}
#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu ul:hover a {opacity: 0.5;}
#menu ul a:hover {opacity: 1;}

.main-nav {position: relative; top: 50%; transform: translateY(-50%);}
.main-nav ul {list-style: none; margin: 0; padding: 0;}
.main-nav a {
  color: var(--primary-color);
  display: block; padding: 1rem 1rem;
  font-size: 1.5rem; font-weight: bold;
  text-decoration: none; text-transform: uppercase;
}
.main-nav a:first-child {padding-top: 0;}
.menu-footer {padding: 2rem; bottom: 0; left: 0; right: 0; position: absolute;}
.menu-footer ul {display: inline-block; margin: 0; padding: 0; list-style: none;}
.menu-footer ul li {display: inline; margin: 0 1rem;}
.menu-footer a {color: var(--primary-color); text-decoration: none; text-transform: uppercase;}

/*keyframes*/
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%); 
    }
}
@keyframes fadeInUp { /*key frames*/
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/*formatting*/
@media (prefers-color-scheme: light) { /*light theme*/
  :root {
    --primary-color: #101010;
    --secondary-color: #ffffff;
    --tertiary-color: #767676;
    --quartenary-color: #009664;
  }
  body {background-color: var(--secondary-color);}
  h1, h2, h3, h4, h5 {color: var(--primary-color);}
  span{color: var(--quartenary-color);}
  p {color: var(--tertiary-color);}
  a {color: var(--quartenary-color);}
  time{color: var(--primary-color);}
}