/*animation*/
.animate-while-rolling {
    opacity: 0; transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 1.0s ease-out; /* Define a transição suave */
}
.animate-while-rolling.visible  {opacity: 1; transform: translateY(0);}
/*delay*/
.animate-while-rolling.delay-1 { transition-delay: 0.3s; }
.animate-while-rolling.delay-2 { transition-delay: 0.4s; }
.animate-while-rolling.delay-3 { transition-delay: 0.5s; }
.animate-while-rolling.delay-4 { transition-delay: 0.6s; }