* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

:root {
  /*default theme*/
  --primary-color: #f0f0f0;
  --secondary-color: #808080;
  --tertiary-color: #0F0F0F;
  --quartenary-color: #242424;
  --accent-color: #7eff00;
  
  --font-title: normal 700 2.4rem 'Rajdhani', sans-serif;
  --font-title-2: normal 700 1.6rem 'Rajdhani', sans-serif;
  --font-title-3: normal 700 1.4rem 'Rajdhani', sans-serif;
  --font-subtitle: normal 700 1.2rem 'Rajdhani', sans-serif;
  --font-body: normal 400 1rem 'Inter', sans-serif;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--primary-color);
  font: var(--font-title);
  line-height: 1;
}

h2 {
  color: var(--primary-color);
  font: var(--font-title-2);
}

h3 {
  color: var(--primary-color);
  font: var(--font-title-3);
}

p {
  color: var(--primary-color);
  font: var(--font-body);
  font-optical-sizing: auto;
}

span {
  color: var(--accent-color);
}

/*page structure*/
body {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main {width: 100%;}

#hero {
  width: 100%;
  height: 80vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 3rem;
    overflow-wrap: normal;
    text-wrap: balance;
  }
  
  h1 {
    font-size: clamp(24px 2rem 48px);
  }
  
  h1 span {
    color: var(--primary-color);
  }
  
  #h1-emphasis {
    color: var(--accent-color);
  }
  
  p {
    font-size: 1.2rem;
  }
}

#beneficial {}
@media (min-width: 768px) {
  #beneficial {
    .cards {
      width: 900px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
    }
    .item {
      width: 100%;
      height: auto;
      padding: 2rem;
    }
    #item-1 {
      border-radius: 1rem 0 0 1rem;
      background:
        linear-gradient(#242424) padding-box,
        linear-gradient(135deg, rgba(128, 128, 128, 1) 0%, rgba(15, 15, 15, 0) 100%) border-box
      ;
      border: 3px solid transparent;
      backdrop-filter: blur 10px;
    }
    #item-2 {
      width: 80%;
      background-color: var(--accent-color);
      padding-top: 1rem;
      border-radius: 1rem 1rem 0 0;
      
      h3, span, p, a {
        color: var(--tertiary-color);
      }
      a {
        font-weight: bold;
      }
    }
    #item-3 {
      border-radius: 0 1rem 1rem 0;
      border: 3px solid transparent;
      background:
        linear-gradient(#242424) padding-box,
        linear-gradient(0deg, rgba(128, 128, 128, 1) 0%, rgba(15, 15, 15, 0) 100%) border-box
      ;
      backdrop-filter: blur 10px;
    }
  }
}



/*
body {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
}

main {width: 100%;}

#hero {
  width: 100%;
  height: 80vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 3rem;
    overflow-wrap: normal;
    text-wrap: balance;
  }
  
  h1 {
    font-size: clamp(24px 2rem 48px);
  }
  
  h1 span {
    color: var(--primary-color);
  }
  
  #h1-emphasis {
    color: var(--accent-color);
  }
  
  p {
    font-size: 1.2rem;
  }
}

#beneficial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .section-title {
    width: 100%;
    padding: 1rem;
  }
}

#process {
  background-color: #30865F;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .section-title {
    width: 100%;
    padding: 1rem;
  }
}

#successes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .section-title {
    width: 100%;
    padding: 1rem;
  }
}

#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .section-title {
    width: 100%;
    padding: 1rem;
  }
}

#contact {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#contact .container {
  width: 100%;
  max-width: 400px;
}

#contact .text {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  color: var(--primary-color);
  background-color: var(--quartenary-color);
  font-family: 'Inter';
}

footer {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }
}
*/
/*components*//*
.container {}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  background-color: var(--quartenary-color);
  
  h3 {
    margin-bottom: 1rem;
  }
}

#item-02 {
  height: auto;
  min-height: calc(100% + 300px);
  background-color: var(--accent-color);
  
  span,
  h3,
  p {
    color: var(--tertiary-color);
  }
}

.card {}

.responsive-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.grid-item {
  height: auto;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--quartenary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.box {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 1rem;
  border-bottom: 3px solid var(--accent-color);
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.blur {
  background-color: var(--accent-color);
  height: 80px;
  width: 80px;
  z-index: 0;
  border-radius: 50%;
  filter: blur(70px);
}

.num {
  font: var(--font-body);
  font-optical-sizing: auto;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: bold;
}

#process {
  width: 100%;
  max-width: 800px;
}

#process .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 0;
}
*/
/*form*//*
::placeholder {
  font-size: 1rem;
}

textarea,
input {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

textarea:focus,
input:focus {
  outline: none;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

select {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  box-sizing: border-box;
  outline: none;
  font-size: 1rem;
  color: var(--accent-color);
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 1;
}

.custom-select-wrapper::after {
  content: "+";
  color: var(--accent-color);
  background-color: transparent;
  height: 100%;
  top: 0;
  right: 0;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
}

.privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#privacy {
  width: auto;
}

input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  appearance: none;
  border: none;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-color);
}

input[type="checkbox"]:before {
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 1rem;
  color: var(--quartenary-color);
}

input[type="checkbox"]:checked:before {
  color: var(--tertiary-color);
}

input[type="checkbox"]:checked+label {
  color: var(--accent-color);
}

.submit-whatsapp-button {
  width: 120px;
  height: auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--accent-color);

  p,
  i {
    color: var(--tertiary-color);
    font-weight: bold;
  }
  
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
*/
/*
@media (min-width: 768px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .card-01 {
    grid-column: span 2 / span 2;
  }
  
  .card-02 {
    grid-column-start: 3;
  }
  
  .card-03 {
    grid-row-start: 2;
  }
  
  .card-04 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    
  }
}
*/