* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

:root { /*default theme*/
  --primary-color: #f0f0f0;
  --secondary-color: #808080;
  --tertiary-color: #0F0F0F;
  --quartenary-color: #242424;
  --accent-color: #7eff00;
  
  --font-title: normal 700 4rem 'Rajdhani', sans-serif;
  --font-title-2: normal 700 1.6rem 'Rajdhani', sans-serif;
  --font-title-3: normal 700 1.4rem 'Rajdhani', sans-serif;
  --font-subtitle: normal 700 1.2rem 'Rajdhani', sans-serif;
  --font-body: normal 400 1rem 'Inter', sans-serif;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--primary-color);
  font: var(--font-title);
}
h2 {
  color: var(--primary-color);
  font: var(--font-title-2);
}
h3 {
  color: var(--primary-color);
  font: var(--font-title-3);
}
p {
  color: var(--primary-color);
  font: var(--font-body);
  font-optical-sizing: auto;
}

/*page structure*/
body {
  background-color: var(--tertiary-color);
}
form{
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--primary-color);
  background-color: var(--quartenary-color);
  font-family: 'Inter';
}

/*components*/
.container {
}
.item {
  padding: 1rem;
  width: 300px;
  background-color: var(--quartenary-color);
}
#item-02 {
  height: auto;
  min-height: calc(100% + 300px);
  background-color: var(--accent-color);
}
.card {
  padding: 2rem;
  width: 300px;
  max-width: 400px;
  background-color: var(--quartenary-color);
}
.box{
  width: 100%;
  max-width: 300px;
}
.testimonials{
  display: flex;
  flex-direction: column;
}
.blur {
  background-color: var(--accent-color);
  height: 80px; width: 80px; z-index: 0;
  border-radius: 50%; filter: blur(70px);
}
#process {
  width: 100%;
  max-width: 800px;
}
#process .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 0;
}

/*form*/
::placeholder {
  font-size: 1rem;
}
textarea, input {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
textarea:focus, input:focus {
  outline: none;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
select {
  background-color: transparent;
  width: 100%; padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  box-sizing: border-box;
  outline: none;
  font-size: 1rem;
  color: var(--accent-color);
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
}
.custom-select {
  -webkit-appearance: none; -moz-appearance: none;
  appearance: none; cursor: pointer; z-index: 1;
}
.custom-select-wrapper::after {
  content: "+"; color: var(--accent-color); background-color: transparent;
  height: 100%; top: 0; right: 0; padding: 10px 15px;
  pointer-events: none;
  position: absolute; z-index: 0;
  display: flex; align-items: center;
}
.privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#privacy {
    width: auto;
}
input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  appearance: none;
  border: none;
}
input[type="checkbox"]:checked {
  background-color: var(--accent-color);
}
input[type="checkbox"]:before {
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 1rem;
  color: var(--quartenary-color);
}
input[type="checkbox"]:checked:before {
  color: var(--tertiary-color);
}

input[type="checkbox"]:checked + label {color: var(--accent-color);}
.submit-whatsapp-button {
  width: 120px;
  height: auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--accent-color);
  p, i {color: var(--tertiary-color); font-weight: bold;}
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}