* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h1 {
  color: white;
}
p {
  color: white;
  line-height: 1.4;}
a {
  color: #7eff00;
}
body{
  background-color: #101010;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
header, main, footer {
  width: 100vw;
  max-width: 800px;
  padding: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  word-wrap: break-word;
}